.button-styles h1 {
  margin-bottom: 20px;
}

.brand-colors .content {
  display: flex;
}

.brand-colors .content section:first-child {
  margin-right: 50px;
}

.brand-colors .colors {
  display: flex;
  flex-flow: row wrap;
  padding-right: 20px;
}

.brand-colors .single-color {
  margin-right: 20px;
}

.brand-colors .color {
  width: 150px;
  height: 100px;
}

.brand-colors .description {
  margin: 20px 0;
}

.brand-colors .description p {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 16px;
}

.brand-colors .description p:first-child {
  margin: 2px 0;
  font-weight: 600;
}

.brand-colors .description p:last-child {
  text-transform: uppercase;
}

/* PRIMARY COLORS */

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
  border: 1px solid #d3d3d3;
}

.alice-blue {
  background-color: #f0f8ff;
}

.light-grey {
  background-color: #d3d3d3;
}

.cornflower-blue {
  background-color: #6495ed;
}

/* SECONDARY COLORS */

.coral {
  background-color: #ff7f50;
}

.lemon-chiffon {
  background-color: #fffacd;
}

.light-steel-blue {
  background-color: #b0c4de;
}

.medium-orchid {
  background-color: #ba55d3;
}

.peach-puff {
  background-color: #ffdab9;
}

.teal {
  background-color: #008080;
}
