* {
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
}

h1 {
  font-size: 35px;
  border-bottom: 4px solid #d3d3d3;
  padding-bottom: 5px;
  display: inline-block;
  margin: 0;
}

h2 {
  font-size: 25px;
}

.divider {
  height: 4px;
  width: 5%;
  margin: 0 auto;
  background-color: lightgrey;
}

.hero,
.brand-colors,
.button-styles {
  background-color: white;
  padding: 4%;
  max-width: 1000px;
  margin: 3% auto;
}

/* HERO SECTION */

.hero h1 {
  display: block;
  text-align: center;
  padding: 0;
  border-bottom: none;
  margin-bottom: 4%;
}

.hero p {
  margin-top: 4%;

  font-family: 'Open Sans';
  font-weight: 400;

}
