* {
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
}

h1 {
  font-size: 35px;
  border-bottom: 4px solid #d3d3d3;
  padding-bottom: 5px;
  display: inline-block;
  margin: 0;
}

h2 {
  font-size: 25px;
}

.divider {
  height: 10px;
  width: 100%;
  background-color: red;
}

.brand-colors,
.button-styles {
  background-color: white;
  padding: 4%;
  margin: 3%;
}
